.form-template .breadcrumb-item a {
    color: #d76c12;
}

.s_website_form_input {
    width: 100%;
}

.beneficiary-detail-btn {
    width: 192px;
    height: 45px;
    margin-top: 15px;
    border: 1px solid #dedede;
    border-radius: 6px;
}

.beneficiary-btn-heading {
    font: normal normal 600 12px/15px Inter;
    color: #393939;
}

.beneficiary-btn-para {
    font: normal normal normal 11px/14px Inter;
    color: #838383;
}

.btn-primary,
.btn-primary:hover {
    border-color: #f07b1a;
}

.form-template .form_submit_action,
.form-template .form_submit_action:hover {
    background: #f07b1a 0% 0% no-repeat padding-box;
}

.form-template .form_cancel_action,
.form-template .form_cancel_action:hover {
    border: 1px solid #d76c12;
    color: #d76c12;
}
