.ssp-contact-us {
    visibility: collapse;
}

.ssp-login-body a {
    color: #704880;
}

.ssp-login-box .btn-primary {
    background-color: #704880;
    border-color: #704880;
}

.table-container .table-head-container .table-title {
    margin-left: 20px;
}

.table-head-container .search-box .search-text {
    font: normal normal normal 14px/17px Inter;
}

.view-button,
.view-button:focus-visible {
    border: 1px solid #704880;
    color: #704880;
    outline: none !important;
}

.apply-button,
.apply-button:focus-visible {
    background: #704880 0% 0% no-repeat padding-box;
    outline: none !important;
}

.form-template .breadcrumb-item a {
    color: #704880;
}

.s_website_form_input {
    width: 100%;
}

.form-template .s_website_form_input:focus-visible {
    border: 1px solid #704880 !important;
    outline: none !important;
}

.beneficiary-detail-btn {
    border: 1px solid #dedede;
    border-radius: 6px;
}

.beneficiary-btn-heading {
    font: normal normal 600 12px/15px Inter;
    color: #393939;
}

.beneficiary-btn-para {
    font: normal normal normal 11px/14px Inter;
    color: #838383;
}

/* beneficiary modal styling -- start */

.beneficiary-modal-content {
    max-width: 720px;
    max-height: 555px;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
}

.beneficiary-modal-content .modal-title {
    font: normal normal 600 16px/20px Inter;
    color: #484848;
}

/* beneficiary modal styling -- end */

.container-right .modal-footer {
    padding: 20px;
    padding-top: 0px;
    justify-content: end;
}

.btn-primary {
    border-color: #704880 !important;
}

.form-template .form_submit_action,
.form-template .form_submit_action:hover {
    background: #704880 0% 0% no-repeat padding-box;
}

.form-template .form_cancel_action,
.form-template .form_cancel_action:hover,
.form-template .container-right .card-footer a {
    border: 1px solid #704880 !important;
    color: #704880 !important;
}
