/* Header Styles */
.header-container {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 5px #0000000d;
  opacity: 1;
}
.header-container .nav {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  margin-left: 139px;
  margin-right: 152px;
  width: 1083px;
  height: 90px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.header-container .nav .main-logo {
  width: 272px;
  height: 58px;
  /* UI Properties */
  margin-top: 16px;
  margin-bottom: 15.77px;

  opacity: 1;
}
.header-container .nav .nav-user {
  display: flex;
  width: 473px;
}
.nav-user .search-box {
  left: 741px;
  width: 273px;
  height: 40px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c6c6c6;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-user .search-box .search-text {
  border: none;
  margin-left: 10px;
}
.nav-user .search-box .search-text:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #b9b9b9;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b9b9b9;
}

::placeholder {
  color: #b9b9b9;
}

.nav-user .language-box {
  left: 1026px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 12px;
  border-radius: 6px;
  opacity: 1;
}
.nav-user .language-box:focus {
  outline: none;
}
.nav-user .language-box .button {
  height: 40px;
  /* UI Properties */
  display: inline;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  opacity: 1;
}
.nav-user .language-box .button:focus {
  outline: none;
}
.nav-user .language-box .button span {
  height: 15px;
  width: 41px;
  text-align: left;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #4d4c4c;
  opacity: 1;
}
.nav-user .language-box .button .flag {
  width: 18px;
  height: 12px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.nav-user .user {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 1;
}

.nav-user .user .user-block {
  top: 73px;
  width: 184px;
  height: 116px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d8d8;
  opacity: 1;
}

.user-image {
  top: 20px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.dropdown ul {
  list-style: none;
}

.dropdown ul .link {
  top: 92px;
  width: 57px;
  height: 15px;
  margin: 10px;
  /* UI Properties */
  text-align: left;
  font: normal 15px Inter;
  letter-spacing: 0px;
  color: #4d4c4c;
  opacity: 1;
}
.dropdown-menu span {
  text-align: left;
  font: normal 15px inter;
}
.dropdown-menu ul li a:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Footer Styles */
.footer-container {
  left: 0px;
  width: 100%;
  height: 190px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer-container .nav {
  top: 0px;
  left: 0px;
  margin-left: 139px;
  margin-right: 139px;
  width: 1088px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
.footer-container .nav .main-logo {
  width: 272px;
  height: 58px;
  margin-top: 36px;
  opacity: 1;
}
.footer-container .nav .list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
.list-container .nav-item {
  list-style: none;
}
.list-container .nav-item .link {
  font: normal 13px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.footer-container .copyright {
  /* UI Properties */
  margin-top: 25px;
  margin-left: 40%;
  margin-bottom: 25px;
  height: 17px;
  text-align: left;
  font: normal 14px/17px Inter;
  letter-spacing: 0px;
  color: #b9b9b9;
  opacity: 1;
}

/* Main content styles */
.main-container {
  background: #f5f9fc 0% 0% no-repeat padding-box;
  width: 1366px;
  height: 100%;
  display: block;
  padding-top: 30px;
  opacity: 1;
}

.table-container {
  top: 120px;
  margin-left: 139px;
  width: 1088px;
  margin-right: 139px;
  margin-bottom: 33px;
  padding-bottom: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000001a;
  border-radius: 10px;
}
.table-container .table-head-container {
  display: flex;
  justify-content: space-between;
}
.table-container .table-head-container .table-title {
  margin-top: 25px;
  margin-left: 25px;
  height: 20px;
  text-align: left;
  font: normal 600 16px/20px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.table-head-container .search-box {
  width: 273px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c6c6c6;
  margin-right: 10px;
  border-radius: 6px;
  padding-left: 10px;
  opacity: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.table-head-container .search-box .search-text {
  border: none;
  margin-left: 10px;
}
.table-head-container .search-box .search-text:focus {
  outline: none;
}
.search-clear-icon {
  display: none;
  cursor: pointer;
}

.tables-values-container {
  top: 247px;
  left: 149px;
  width: 1068px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 100%;
 
}
.tables-values-container table {
  width: 100%;

}

.tables-values-container table thead {
  top: 190px;
  left: 139px;
  height: 52px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: left;
}

.tables-values-container table thead th {
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
  font: normal 600 13px/16px inter;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
}
.tables-values-container table td {
  height: 16px;
  padding-left: 20px;
  text-align: left;
  font: normal 13px/16px Inter;
  letter-spacing: 0px;
  color: #535353;
  opacity: 1;
  height: 55px;
}
.tables-values-container table tr {
  box-shadow: 0px 2px 5px #0000001a;
  opacity: 1;
}
table tr th {
  cursor: pointer;
}

table th::after {
  content: "\25b4";
}

table th::after {
  content: "\25be";
}

td.right-align {
  text-align: right;
}
td .program-name {
  width: 202px;
  height: 16px;
  text-align: left;
  font: normal 600 13px/16px Inter;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;
}

.view-button {
  top: 336px;
  left: 1110px;
  width: 84px;
  height: 30px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #494daf;
  border-radius: 4px;
  text-align: center;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;

  opacity: 1;
}
.apply-button {
  top: 386px;
  left: 1110px;
  width: 84px;
  height: 30px;

  /* UI Properties */
  border: none;

  background: #494daf 0% 0% no-repeat padding-box;
  border-radius: 4px;
  text-align: center;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #ffffff;

  opacity: 1;
}

.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}

.notapplied-button {
  left: 811px;
  width: 84px;
  height: 25px;
  background: #dce3e8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-collapse: collapse;
  text-align: center;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #3e5463;
  border: none;

  opacity: 1;
}
.submit-button {
  left: 811px;
  width: 84px;
  height: 25px;

  background: #faf6cf 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-collapse: collapse;
  text-align: center;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #3c5160;
  border: none;
  opacity: 1;
}
.enroll-button {
  left: 811px;
  height: 25px;
  width: 84px;

  background: #c7ebd1 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border-collapse: collapse;

  text-align: center;
  font: normal 12px Inter;
  letter-spacing: 0px;
  color: #075e45;
  border: none;
  opacity: 1;
}

/* card container  */

.card-container {
  display: flex;
  justify-content: space-between;
  margin-left: 139px;
  width: 1088px;
  margin-right: 139px;
  margin-bottom: 33px;
}
.card {
  width: 352px;
  
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000001a;
  border-radius: 10px;
  opacity: 1;
}
.middle-card {
  margin-left: 16px;
  margin-right: 16px;
}

.card-heading {
  height: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  font: normal 600 16px/20px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.card-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}
.card-block {
  padding-left: 0px;
}

.card-block li {
  width: 312px;
  height: 78px;
  margin-left: 20px;
  margin-right: 20px;
  background: #ffffff1a 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  opacity: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.icon-image {
  padding: 30px;
  background: #6064c71a 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 24px;
  height: 24px;
  margin: 10px;
  opacity: 1;
}

.icon-image img {
  width: 22px;
  height: 22px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

li div a {
  width: 78px;
  height: 17px;
  text-align: left;
  font: normal 600 14px/17px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
li div p {
  height: 16px;
  text-align: left;
  font: normal 13px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.card-foot .viewprograms {
  height: 17px;
  font: normal 600 14px/17px Inter;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;
}

.badge-button {
  width: 44px;
  height: 19px;
  background: #186ade 0% 0% no-repeat padding-box;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  opacity: 1;
}
.badge-button span {
  width: 26px;
  height: 14px;
  text-align: left;
  font: normal 600 11px/14px Inter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/* All programs page*/
.all-title {
  margin-left: 10%;
  margin-bottom: 0px;
  height: 26px;
  text-align: left;
  font: normal 600 22px/26px Inter;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.breadcrumb-list {
  margin-left: 9%;
  margin-right: 10%;
  margin-bottom: 33px;
  left: 139px;
  height: 17px;
  opacity: 1;
}
.breadcrumb-list .breadcrumb-item a {
  width: 40px;
  height: 17px;

  text-align: left;
  font: normal 600 14px/17px Inter;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " \003E ";
  color: #000000 0% 0% no-repeat padding-box;
}

.pager-item {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d9d9d9;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  opacity: 1;
  margin-right: 24.75px;
}
.page-item {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  opacity: 1;
  margin-right: 24.75px;
}

.page-link {
  border: none;
  background-color: transparent;
  height: 32px;
  text-align: left;
  font: normal 13px Inter;
  letter-spacing: 0px;
  color: #494daf;
  opacity: 1;
}
.page-item.active .page-link {
  color: #ffffff;
  border-radius: 6px;
  background-color: #494daf;
  border-color: #494daf;
}

.aboutus-container {
  top: 201px;
  margin-left: 139px;
  margin-bottom: 20px;
  width: 1088px;
  height: 1141px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000001a;
  border-radius: 10px;
  opacity: 1;
}

#myprograms tbody{

  overflow-y: auto;
  overflow-x: auto;
}

#myprograms tbody td{
  padding-right: 20px;
}

#allprograms table thead tr{
  display: flex ;
  justify-content: space-between;
}